{% extends "base.html" %}

{% block title %}Branch {{ branch.name }}{% endblock %}

{% block content %}
    {% if branch %}
        <h1>{{ branch.name }}</h1> is closest to coordinates {{ lan }}, {{ lgt }}.
        <table>
            <tr>
                <td><img src="{{ branch.facade.url }}" height="100", width="100"></td>
            </tr>
            <tr>
                <td>{{ branch.latitude }}</td>
                <td>{{ branch.longitude }}</td>
            </tr>

    {% endif %}
{% endblock %}